@model IEnumerable<STAWebsite.Models.Instructor>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.instructor_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instructor_password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.i_courses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.i_avg_rating)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.instructor_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.instructor_password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.i_courses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.i_avg_rating)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.instructor_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.instructor_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.instructor_id })
            </td>
        </tr>
    }

</table>
