@model IEnumerable<STAWebsite.Models.Student>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <button onclick="location.href='@Url.Action("Create")';">Create New</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.student_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student_password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_courses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_avg_rating)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.student_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student_password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.s_courses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.s_avg_rating)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.student_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.student_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.student_id })
            </td>
        </tr>
    }

</table>
